.hvim {
    margin-left: 280px;
}

.pvi {
    margin-left: 280px;
}


.tkn {
    margin-left: 650px;
    border-radius: 20px;
}

.pvi1 {
    margin-left: 677px;
}

.gtk {
    margin-left: 642px;
}

.t {
    margin-left: 20px; /* Adjust the value as needed */
  }